* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  width: 50%;
}

form .btn {
  width: 30%
}

#show-contacts {
  display: none;
}

.contact {
  cursor: pointer;
  color: blue;
}

.contact:hover {
  text-decoration: underline;
}